### Windows ###
# Windows thumbnail cache files

# dependencies
/node_modules
 *.css
 *.map
 main.css.map


npm-debug.log*

# IDEs and editors
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
npm-debug.log

# System Files
.DS_Store
Thumbs.db